.header {
    margin: 0 0 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--primary-color-text);

    @media (max-width: 73.375rem) {
        padding: 0 1rem;
    }
}

.toggle {
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border-radius: 67.5rem;
    margin: 1rem 0;
    color: var(--color-white);
    background-color: var(--card-color-background-primary);
}

.title {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1rem;

    @media (max-width: 48rem) {
        text-align: center;
    }
}

.subtitle {
    font-size: 1.125rem;
    font-weight: 400;

    @media (max-width: 48rem) {
        text-align: center;
    }
}

.logo {
    margin-top: 6rem;
    margin-bottom: 3rem;
}