.socialWrapper {
    max-width: 60rem;
    height: 3rem;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 32rem) {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
}

.socialWrapper ul {
    list-style: none;
    gap: 0.5rem;
}

.socialWrapper .iconsWrapper ul {
    gap: 3rem;
    align-items: center;
}

.tagWrappers {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tagWrappers span {
    text-transform: uppercase;
    font-size: 0.688rem;
    color: var(--primary-color-text);
}

.tagWrappers ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tagWrappers ul li span {
    display: flex;
    flex-direction: row;
    color: var(--primary-color-text);
    font-size: 0.688rem;
}

.tagWrappers ul li:not(:first-child) {
    font-weight: 800;
    padding: 0.25rem 0.50rem;
    background-color: #E9ECF0;
    border-radius: 62.5rem;
}

.iconsWrapper ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.socialWrapper .iconsWrapper ul li {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.socialWrapper .iconsWrapper ul li span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notLiked, .liked {
    cursor: pointer;
    font-size: 0.688rem;
    border-radius: 62.5rem;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
}

.notLiked {
    border: 1px solid var(--primary-color-text);
    background: var(--color-white);
    color: var(--primary-color-text);
}

.liked {
    border: 1px solid var(--color-white);
    background: var(--primary-color-text);
    color: var(--color-white);
}
