:root {
  --color-white: #fff;
  --primary-color-text: #21262F;
  --card-color-background: #E9ECF0;
  --card-color-background-primary: #21262F;
  --post-color-background: #F8F8F9;
}

.dark-mode {
  --color-white: #000;
  --primary-color-text: #fff;
  --card-color-background: #21262F;
  --card-color-background-primary: grey;
  --post-color-background: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary-color-text);
  background: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
